main {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

.calendar {
  &__section{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__table {
    display: grid;
    justify-content: center;
    grid-template-rows: 2rem  repeat(5, 14rem);
    grid-template-columns: repeat(7, 14rem);
    margin-top: 3rem;
    background-color: black;
    grid-gap: 1px;
    border: 1px solid black;

    &__day{
      display: flex;
      direction: column;
      background-color: white;

      &__info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        padding: 1.0rem 1.0rem;

      }
    }
    &__weekday{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: grey;
      color: aliceblue;
      font-size: 1.2rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__month{
    margin: 0;
  }
  &__year{
    font-weight: 400;
    margin: 0;
  }

  @media (max-width: 700px) {
    &__header {
      background-color: #f3d083;
    }
  }
}

.day{
  &__create-event{
      padding-top: 0.4rem;
    }
  &__create-event:hover{
    color: rgb(243, 17, 17);
  } 
}

.month__number{
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  font-weight: bold;
  // background-color: aquamarine;
  // border-radius: 50%;
  text-align: center;

    &--out{
      color: grey;
    }
}

@media (max-width: 700px) {
  .button__text,
  .button__previous,
  .button__next {
    display: none;
  }
}
@media (max-width: 500px) {
  tr,
  th,
  td {
    border: none;
  }
}

@media (max-width: 700px) {
  .header__create-event {
    background-color: #88bfc4;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    top: 50%;
  }
}